blinker
click
Cython==3.1.3
Flask
future==1.0.0
GraKeL==0.1.10
itsdangerous
Jinja2
joblib==1.5.2
MarkupSafe
networkx==3.5
numpy==1.26.4
optional-django==0.1.0
scikit-learn==1.7.2
scipy==1.16.2
six==1.17.0
threadpoolctl==3.6.0
Werkzeug